<div class="modal-container {{ isOpen ? 'active' : '' }}">
  <div class="modal">
    <p class="text-text text-2xl font-bold"> Deletar task </p>
    <div class="flex mt-8">
      <button (click)="handleTaskDelete()" class="bg-secondary px-4 py-4 rounded-lg text-white font-bold mr-4 hover:bg-secondary-700 duration-300"> Confirmar </button>
      <button class="bg-red-500 px-4 py-4 rounded-lg text-white font-bold hover:bg-red-700 duration-300" (click)="handleModalClose()"> Cancelar </button>
    </div>
  </div>
</div>
