<main class="bg-main-lighter">
    <app-sidebar></app-sidebar>
    <article class="px-24 py-12 w-full">
        <app-search-bar></app-search-bar>
        <section class="flex justify-between items-center mb-7">
            <h2 class="text-3xl font-bold text-text"> Tasks </h2>
            <button class="bg-secondary rounded-lg text-main-lighter px-9 py-3 text-2xl font-bold"> Adicionar task </button>
        </section>
        <div>
            <app-task-card></app-task-card>
        </div>
    </article>
</main>
