<div class="modal-container {{ isOpen ? 'active' : '' }}">
  <div class="modal">
    <p class="text-text text-2xl font-bold"> Adicionar nova lista </p>
    <form [formGroup]="addListFromGroup">
      <fieldset class="flex flex-col pt-6">
        <label for="task-title" class="text-text text-xl font-bold mb-2"> Titulo da lista* </label>
        <input formControlName="listTitleFormControl" type="text" id="task-title" name="task-title" class="bg-main-darker px-2 py-3 text-text rounded-lg" placeholder="...">
        <p class="text-red-500 mt-2" *ngIf="addListFromGroup.get('listTitleFormControl')?.hasError('required')"> O titulo da lista não pode ser vazio </p>
        <p class="text-red-500 mt-2" *ngIf="addListFromGroup.get('listTitleFormControl')?.hasError('minlength')"> O titulo da lista deve conter no minimo 3 caracteres </p>
      </fieldset>
      <div class="flex justify-end mt-8">
        <button (click)="handleFormSubmit()" [disabled]="!addListFromGroup.valid" class="bg-secondary px-4 py-4 rounded-lg text-white font-bold mr-4 hover:bg-secondary-700 duration-300 disabled:opacity-50 disabled:hover:bg-secondary"> Confirmar </button>
        <button class="bg-red-500 px-4 py-4 rounded-lg text-white font-bold hover:bg-red-700 duration-300" (click)="handleModalClose()"> Cancelar </button>
      </div>
    </form>
  </div>
</div>
